<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183191095275-8n3btj2gd52e0uvpqh4o1q9ma6f8ar43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183191095275-8n3btj2gd52e0uvpqh4o1q9ma6f8ar43</string>
	<key>API_KEY</key>
	<string>AIzaSyCwiPsReyvfsaLrv5B3-QnyNG8VFsr_BRs</string>
	<key>GCM_SENDER_ID</key>
	<string>183191095275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henry.HitchHicher</string>
	<key>PROJECT_ID</key>
	<string>hitchhkr-9ec6f</string>
	<key>STORAGE_BUCKET</key>
	<string>hitchhkr-9ec6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183191095275:ios:62b868e4565dddaf</string>
	<key>DATABASE_URL</key>
	<string>https://hitchhkr-9ec6f.firebaseio.com</string>
</dict>
</plist>